<div class="card">
    <div class="card-body">
        <div class="col col-xl-12 text-center">
            <img src="assets/images/Titulos/Informativo.png" class="m-l-50">
        </div>

        <div class="col-xl-12  p-b-50">
            <h3 class="text-center">
                <b>
                    Nesse espaço, você encontra dicas para aprender a cuidar bem do seu
                    novo amigo!
                </b>
            </h3>
        </div>

        <div class="row m-t-50 p-b-50">
            <div class="col-xl-3 m-r-40 ">
                <img src="assets/images/Titulos/AdocaoResponsavel.png" class="m-l-50">
            </div>
            <div class="col-xl-8 m-t-30">
                <h3 class="text-center">
                    <b>Você está preparado para essa responsabilidade?
                        Leia sobre a adoção responsável</b>
                </h3>
            </div>
        </div>

        <div class="row m-t-50 p-b-50">
            <div class="col-xl-4">
                <h3 class="text-center">
                    <b>Conteúdo 1</b>
                </h3>
                <a><img src="assets/images/campanha.png" class="m-l-50"></a>
            </div>
            <div class="col-xl-4">
                <h3 class="text-center">
                    <b>Conteúdo 2</b>
                </h3>
                <a><img src="assets/images/campanha.png" class="m-l-50"></a>
            </div>
            <div class="col-xl-4">
                <h3 class="text-center">
                    <b>Conteúdo 3</b>
                </h3>
                <a><img src="assets/images/campanha.png" class="m-l-50"></a>
            </div>
        </div>

    </div>
</div>