<div class="card">
    <div class="card-body">
        <div class="col col-xl-12 text-center">
            <img src="assets/images/Titulos/ProntoParaAdotar.png" class="m-l-50">
        </div>

        <div class="col-xl-12  p-b-50">
            <h3 class="text-center">
                <b>
                    Confira no nosso <a class="text-danger">Instagram</a> amigos que você pode adotar!
                </b>
            </h3>
        </div>
        <div class="col-xl-12  p-b-50">
            <h3 class="text-center">
                <b>
                    Veja também outras opções em sites sérios de ONGs específicas que
                    trabalham com animais para adoção. Conheça algumas opções.
                </b>
            </h3>
        </div>

        <div class="row m-t-50 p-b-50">
            <div class="col-xl-4">
                <a><img src="assets/images/IconesONGs/PatasDadas.png" class="center"></a>
                <div class="row m-t-30">
                    <div class="col-xl-2">
                        <a href="http://www.patasdadas.com.br/" target="_blank">
                            <h1 class="p-l-50">
                                <i class="fa fa-desktop text-red"></i>
                            </h1>
                        </a>
                    </div>
                    <div class="col-xl-10 mt-1">
                        <a href="http://www.patasdadas.com.br/" target="_blank">
                            <h6 class="text-center text-dark">
                                <b>http://www.patasdadas.com.br/</b>
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2">
                        <a href="https://www.instagram.com/patasdadas/?hl=pt-br" target="_blank">
                            <h1 class="p-l-50">
                                <i class="fa fa-instagram text-red"></i>
                            </h1>
                        </a>
                    </div>
                    <div class="col-xl-8 mt-1">
                        <a href="https://www.instagram.com/patasdadas/?hl=pt-br" target="_blank">
                            <h6 class="text-center text-dark">
                                <b>@patasdadas</b>
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <a><img src="assets/images/IconesONGs/101Viralatas.png" class="center"></a>
                <div class="row">

                </div>
                <div class="row">

                </div>
            </div>
            <div class="col-xl-4">
                <a><img src="assets/images/IconesONGs/Resgatinhos.png" class="center"></a>
                <div class="row">

                </div>
                <div class="row">

                </div>
            </div>
        </div>

    </div>
</div>