<div class="card">
    <div class="card-body">
        <div class="col col-xl-12 text-center">
            <img src="assets/images/Titulos/JuntosPorEles.png" class="m-l-50">
        </div>

        <div class="col col-xl-12">
            <img src="assets/images/Titulos/QuemSomos.png" class="m-l-50">
        </div>
        <div class="col-xl-12  p-b-40">
            <h3 class="text-center">
                <b>
                    Somos uma rede de apoiadores da causa animal. Pessoas dispostas a
                    ajudar, a resgatar, a servir de Lar Temporário, ou apaixonados por
                    animais que buscam estar em contato. Juntos somos mais fortes,
                    Juntos somamos forças, tudo por Eles!
                </b>
            </h3>
        </div>

        <div class="col col-xl-12">
            <img src="assets/images/Titulos/NossaHistoria.png" class="m-l-50">
        </div>
        <div class="col-xl-12 p-b-40">
            <h3 class="text-center">
                <b>
                    Quatro amigas que tinham em comum um amor: a causa animal. Se deram
                    conta de que, individualmente, todas conheciam pessoas que faziam sua
                    parte pela Causa, mas que não se conhecem. Por isso, mais do que
                    divulgar animais que buscam uma família, queremos unir pessoas que
                    querem fazer a diferença, de modo que possamos, Juntos, unir forças por
                    Eles.
                </b>
            </h3>
        </div>

    </div>
</div>