<div class="card">
    <div class="card-body">
        <div class="col col-xl-12 text-center">
            <img src="assets/images/Titulos/EntreNaRede.png" class="m-l-50">
        </div>

        <div class="col col-xl-12">
            <img src="assets/images/Titulos/JunteseANos.png" class="m-l-50">
        </div>
        <div class="col-xl-12  m-b-30">
            <h3 class="text-center">
                <b>
                    Siga nas redes sociais e entre nos Grupos da rede!
                </b>
            </h3>
        </div>
        <!-- TODO redes -->

        <div class="col col-xl-12 ">
            <img src="assets/images/Titulos/QueroAjudarMais.png" class="m-l-50">
        </div>
        <div class="col-xl-12 m-b-50">
            <h3 class="text-center">
                <b>
                    Você pode nos ajudar com ideias, produzindo conteúdos informativos
                    para o <a class="text-danger">Para cuidar bem Deles </a>, e nos ajudando a divulgar o projeto!
                </b>
            </h3>
        </div>

    </div>
</div>